<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css.css">
    <title>me抽屉首页</title>
</head>
<body>
<div id="pf"></div>
<div id="head">
    <div class="fram">
        <div class="logo"></div>
        <div id="main">
            <ul>
            <li><a href="#" class="td">全部</a></li>
            <li><a href="#" class="td">42区</a></li>
            <li><a href="#" class="td">段子</a></li>
            <li><a href="#" class="td">图片</a></li>
            <li><a href="#" class="td">挨踢1024</a></li>
            <li><a href="#" class="td">你问我答</a></li>
            </ul>
        </div>
        <div id="right-reg">
            <a href="#" class="td">登录</a></li>
            <a href="#" class="td">注册</a></li>
            <div id="search">
            <form action="index.html">
                <input type="search" name="search" class="search" placeholder="填入搜索内容">
            </form>
            <a id="ico" href="index.html"><span class="ico"></span></a>

            </div>
        </div>
    </div>
</div>
<div id="main-content">
    <div class="main-l">
        <!-- 最新最热按钮 -->
        <div class="nav-top-area" style="margin-bottom: 0px;">
			<div class="child-nav">
				<a href="#" class="hotbtn icos active">最热</a>
				<a href="#" class="newbtn">最新</a>
				<a href="#" class="personbtn">人类发布</a>
			</div>
			<div class="sort-nav">
				<a href="#"  id="sort-nav-btn">即时排序</a>
				<a href="#"  id="sort24-nav-btn">24小时</a>
				<a href="#" id="sort3-nav-btn">3天</a>
			</div>
			<a id="publish-btn" href="index.html">
				<span id="jia">+</span>
                <span id="send">发布</span>
			</a>
		</div>
        <div id="top-yello" style="">
                <a href="index.html"><em>12</em>
                <span>条入热榜，点击查看</span></a>
        </div>
        <div id="contnet-list">
            <div class="item">
                <span id="pic"><img class="pic" src="./img/111.jpg"></span>
                <a class="all-font" href="index.html">“亲俄派”新总统当选提振社民党支持率，默克尔遭遇最强威胁 </a>
                <span class="from">-video.weibo.com</span>
                <a class="from-link">42区</a>
                <span class="info">施泰因迈尔周末当选德国总统，进一步利好支持率已达10年来最高的社民党，默克尔在接下来议会竞选中面临真正威胁。近日民调显示，社民党党首舒尔茨的支持率达46%，领先默克尔6个百分点。施泰因迈尔被外界视为亲俄派，他当选后普京立即发来祝贺。</span>
                <!--点赞标签区-->
                <a class="good">4
                    <!--<span class="ico"></span>-->

                </a>
                <a class="liuyan">5</a>
                <a class="sc">6</a>
                <a href="#" class="user-a"><span><img src="./img/22.jpg"></span>
                    <b>腾讯图片</b>
                </a>
                <span class="time-into">
                    <a class="time-a" href="/link/10293686" target="_blank">
                        <b>1小时6分钟前</b>
                    </a>
                    入热榜</span>
                <!-- 分享各微博的按钮 -->
                <span class="share-site-to" style="visibility: visible; display: none;"><i>分享到</i><span class="share-icon">
                    <a class="icon-sina" id="icon-sina" title="分享到新浪微博" href="javascript:;" hidefocus="true"></a>
                    <a class="icon-douban" id="icon-douban" title="分享到豆瓣" href="javascript:;" hidefocus="true"></a>
                    <a class="icon-qqzone" id="icon-qqzone" title="分享到QQ空间" href="javascript:;" hidefocus="true"></a>
                    <a class="icon-tenxun" id="icon-tenxun" title="分享到腾讯微博" href="javascript:;" hidefocus="true"></a>
                    <a class="icon-renren" id="icon-renren" title="分享到人人网" href="javascript:;" hidefocus="true"></a>
                    <a class="share-none"> </a></span></span>
            </div>
        </div>
    </div>
    <div class="main-r">
    </div>

</div>

</body>
</html>