<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="img/css.css">
    <title>抽屉首页</title>
</head>
<body>
<!--导航头部-->
<div id="head">
    <div id="head-center">
    <div id="logo"><img src="./img/logo.png"></div>
    <div id="main">
        <ul>
        <li><a href="#" class="active">全部</a></li>
        <li><a href="#" class="active">42区</a></li>
        <li><a href="#" class="active">段子</a></li>
        <li><a href="#" class="active">图片</a></li>
        <li><a href="#" class="active">挨踢1024</a></li>
        <li><a href="#" class="active">你问我答</a></li>
        </ul>
    </div>
    <div id="regest">
    <ul>
        <li><a href="#" class="active">注册</a></li>
        <li><a href="#" class="active">登录</a></li>
        <li><div id="reg"><form action=""><input id="s1" type="search" name="search" placeholder="填入搜索内容"></form>
            <a id="i">
                <span class="ico"></span>
            </a>
        </div>
        </li>
    </ul>
    </div>
</div>
</div>
<!--中部-->
<div id="body">
    <div id="nva">
        <a href="#" id="nva_text">最热</a>
        <a href="#" id="nva_text">最新</a>
        <a href="#" id="nva_text">人类发布</a>
    </div>
    <div id="show">
        <a href="#" id="nva_text_h">即时排序</a>
        <a href="#" id="nva_text_g">24小时</a>
        <a href="#" id="nva_text_g">三天</a>
    </div>
    <div id="seach">
        <span id="send">发布</span>
    </div>
</div>
<div id="foot">

</div>
</body>
</html>