<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css.css">
    <title>注册页面</title>
</head>
<body>

<div class="zc">
    <form action="http://127.0.0.1:8000/regest" method="POST" enctype="multipart/form-data">
        <p class="zt">注册页面</p>
        <p>账号：<input type="text" name="user" placeholder="姓名或手机号"></p>
        <p>密码：<input type="password" name="pasw" placeholder="输入密码"></p>
        <p>地区：
            <select name="city">
            <option value="tj">天津</option>
            <option value="bj" selected>北京</option>
            <option value="sh">上海</option>
        </select></p>
        <p>性别:<input type="radio" name="sex" value="1" checked>男
                <input type="radio" name="sex" value="0">女</p>
        <p>爱好：<input type="checkbox" name="hobby" value="lol" checked>LOL
                <input type="checkbox" name="hobby" value="cf">CF
                <input type="checkbox" name="hobby" value="wow">WOW</p>
        <p><input type="file" name="filename"></p>
        <textarea name="text" cols="10" rows="10"></textarea>
        <p><input class="bootm"  type="submit" value="注册">
            <input class="bootm" type="reset" value="重填"></p>
</form>
</div>


</body>
</html>