<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .top{
        width: 100px;
        height: 50px;
        background-color: #ffd200;
    }
    .bootem{
            width: 100px;
            height: 50px;
            background-color: red;
        }
    .box:hover .top{
        background-color: #333333;
    }

   </style>

</head>
<body>

<div class="box">
    <div class="top"></div>
    <div class="bootem"></div>
</div>


</body>
</html>