<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>a</title>
    <style>
        #box{
            background-color: #ffd200;
            width: 100px;
            height: 50px;
        }
        p#tt{
            color: #103ea2;
        }

        div p{
            color: #103ea2;
        }
        .tt .bb{
            text-align: center;
            background-image: url("1.jpg");
            background-repeat:repeat-x ;
        }


    </style>
</head>
<body>
<div id="box">此处为id属性设置的css样式</div>
<p id="tt">Hello world</p>
</body>
</html>