<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./img/css.css">
    <script src="./img/jquery-3.1.1.js"></script>
    <title>京东轮播图</title>
</head>
<body>

<div id="lb">
    <div class="tp">
        <ul class="potion">
            <li class="potion"><a href="index.html"><img src="./img/1.jpg"></a></li>
            <li class="potion hide"><a href="index.html"><img src="./img/2.jpg"></a></li>
            <li class="potion hide"><a href="index.html"><img src="./img/3.jpg"></a></li>
            <li class="potion hide"><a href="index.html"><img src="./img/4.jpg"></a></li>
            <li class="potion hide"><a href="index.html"><img src="./img/5.jpg"></a></li>
            <li class="potion hide"><a href="index.html"><img src="./img/6.jpg"></a></li>
            <li class="potion hide"><a href="index.html"><img src="./img/7.jpg"></a></li>
            <li class="potion hide"><a href="index.html"><img src="./img/8.jpg"></a></li>
        </ul>
    </div>
    <div class="tb">
        <span class="s1"></span>
        <span class=""></span>
        <span class=""></span>
        <span class=""></span>
        <span class=""></span>
        <span class=""></span>
        <span class=""></span>
        <span class=""></span>
    </div>
    <a class="left hide" href="javascript:void 0"> < </a>
    <a class="right hide" href="javascript:void 0"> > </a>
</div>


<script src="./img/js.js"></script>
</body>
</html>