<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海瑞时间</title>
</head>
<body>
<input type="text" id="id1" style="width: 200px;height: 30px;font-size: 16px;border: 2px solid green;color: red" onclick="main()" value="">
<button onclick="stop()">停止</button>

<script>
    function showtime() {
        var time = new Date().toLocaleString();
        var bt = document.getElementById('id1');
        bt.value=time
    }
    var s;
    function main() {
        if (s==undefined){
            showtime();
            s=setInterval(showtime,1000)
        }
    }
    function stop() {
        clearInterval(s);
        s = undefined
    }

</script>

</body>
</html>